*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clan{
    padding-top: 15px;
    background-size: 100%;
    height: 100%;
    background-image: url(../../images/Clan/Background.png);
    font-family: 'Poppins' ,sans-serif;
    font-style: normal;
    -ms-overflow-style: none;
}

.card-top-transbox_top {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    margin: 10px 37%;
    padding: 10px;
    text-align: center;
}

.card-top-transbox_top img {
    width: 30%;
}

.card-top-transbox_top h1 {
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.card-top-transbox_top p {
    color: #000;
    font-weight: 400;
    font-size: 15px;
    padding: 5px;
}

div.clan_flexa {
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

div.clan_flexb {
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: 70px;
}

div.transbox_lft {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 35px;
    margin: 15px;
    margin-left: 300px;
    margin-right: 25px;
    width: 50%;
}

div.transbox_rgt {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 35px;
    margin: 15px;
    margin-left: 25px;
    margin-right: 300px;
    width: 50%;
}

div.contl {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.contl img{
    width:40%;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 4;
}

img.iml {
    padding-left: 40px;
    padding-right: 0px;
}

img.imr {
    margin-top: 20px ;
    padding-right: 40px;
    padding-left: 0px;
}

.textsty {
    text-align: center;
    color: #000;
    padding: 30px 20px ;
}

.textsty h2{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

.textsty h4,p {
    font-size: 16px;;
}

#soim {
    padding-top: 35px;
}

#lt {
    position: absolute;
    z-index: 2;
    width: 10%;
    top: 260px;
    left: 250px;
    opacity: 0.8;
    border-radius: 30px;
}

#rt {
    position: absolute;
    z-index: 2;
    width: 10%;
    top: 260px;
    right: 250px;
    opacity: 0.8;
    border-radius: 30px;
}

#lb {
    position: absolute;
    z-index: 2;
    width: 10%;
    top: 760px;
    left: 250px;
    opacity: 0.8;
    border-radius: 30px;
}

#rb {
    position: absolute;
    z-index: 2;
    width: 10%;
    top: 760px;
    right: 250px;
    opacity: 0.8;
    border-radius: 30px;
}